body, html {
	padding: 0;
	margin: 0;
  	font-size: 100%;
  	-webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
}

.header {
	height: 100%;
	width: 100%;
}

/* Font Icons */
@font-face {
  font-family: "vertigo";
  src: url('/Users/anjasheppard/Documents/Github/New-Website/New Website/fonts/vertigo/VertigoFLF.ttf');
}

/* Main Style */
body {
	font-family: "vertigo", "arial";
	color: #fff;
	background: #f8d135;
}

h1, h2, h3 {
	font-family: "vertigo", "arial";
}

h1 {
	font-size: 140px;
}

#left {
  height: 100%;
	width: 50%;
	float: left;
	background: rgba(0, 0, 0, 0);
	-webkit-transition: all 0.7s ease-out;
       -moz-transition: all 0.7s ease-out;
        -ms-transition: all 0.7s ease-out;
         -o-transition: all 0.7s ease-out;
            transition: all 0.7s ease-out;

}

#right {
  height: 100%;
	width: 50%;
	float: right;
	position: relative;
  overflow: hidden;
	background: rgba(0, 0, 0, 0);
	-webkit-transition: all 0.7s ease-out;
       -moz-transition: all 0.7s ease-out;
        -ms-transition: all 0.7s ease-out;
         -o-transition: all 0.7s ease-out;
            transition: all 0.7s ease-out;
}

/* Responsive */
@media screen and (max-width: 25em) {

}
