body, html, li {
	padding: 0;
	margin: 0;
}

.header {
	height: 100%;
	width: 100%;
	overflow: hidden;
	position: relative;
}

/* Font Icons */
@font-face {
  font-family: "vertigo";
  src: url('/Users/anjasheppard/Documents/Github/New-Website/New Website/fonts/vertigo/VertigoFLF.ttf');
}

h1, h2, h3 {
	font-family: "vertigo", "arial";
}

h1 {
	font-size: 140px;
}

#left, #right, #about, #portfolio, img {
	-webkit-transition: all 0.7s ease-out;
    -moz-transition: all 0.7s ease-out;
      -ms-transition: all 0.7s ease-out;
         -o-transition: all 0.7s ease-out;
            transition: all 0.7s ease-out;
}

#left {
	position: absolute;
  height: 100%;
	width: 50%;
	float: left;
	background: rgba(0, 0, 0, 0);
}

#right {
  height: 100%;
	width: 50%;
	float: right;
	position: absolute;
	left: 50%;
	background: rgba(0, 0, 0, 0);
}

#portfolio {
	position: absolute;
	height: 100%;
	width: 50%;
	overflow: hidden;
	background-color: rgba(0, 0, 0, .2);
	left: 100%;
}

#about {
	position: absolute;
	height: 100%;
	width: 50%;
	overflow: hidden;
	background-color: rgba(0, 0, 0, .2);
	right: 100%;
}

#projects {
	margin: 0;
	padding: 0;
}

.proj-list {
	list-style-type: none;
}

.proj-link:link, .proj-link:visited {
	color: rgba(0, 0, 0, 1);
	text-decoration: none;
}

img {
	width: 100%;
	height: 10%;
	margin: 0;
	padding: 0;
	opacity: .95;
}

img:hover {
	transform: scale(1.1);
}

p {
	font-family: "vertigo";
	font-size: 32px;
	margin: 7%;
	background-color: rgba(0, 0, 0, .6);
}

/* Responsive */
@media screen and (max-width: 25em) {

}
